.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.artwork {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logoWithText {
    position: fixed;
    top: 48px;
    left: 48px;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    max-width: 30rem;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--header-secondary);
}

.header {
    width: 100%;
    margin-bottom: 1.25rem;
    line-height: 1.25;
    text-align: center;

    h1 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--header-primary);
    }
}

.fieldWrapper {
    display: flex;
    flex-direction: column;

    label,
    legend {
        margin-bottom: 0.5rem;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: calc(4 / 3);
        text-transform: uppercase;
        letter-spacing: 0.02rem;
    }

    &,
    input {
        width: 100%;
    }

    input,
    select {
        height: 2.5rem;
        padding: 0.625rem;
        border-radius: 3px;
        background-color: var(--tertiary-color);
        color: var(--text-light-gray);
        color: var(--interactive-normal);
        font-size: 1rem;
    }
}

.required,
.error {
    color: var(--text-danger);
}

.forgotPassword,
.needAccount,
.alreadyHaveAccount {
    font-size: 0.875rem;
}

.forgotPassword {
    margin-top: 0.25rem;
}

.needAccount {
    margin-top: 8px;

    > span {
        color: var(--text-gray);
        font-weight: 300;
        line-height: 1rem;
    }
}

.marginTop20 {
    margin-top: 1.25rem;
}

.marginBottom20 {
    margin-bottom: 1.25rem;
}

.dateOfBirth {
    border: none;
}

.selects {
    display: flex;
    gap: 0.625rem;

    select {
        color: var(--interactive-normal);
        font-size: 1rem;
    }

    select {
        flex: 1;
    }

    select:invalid {
        color: var(--text-gray);
    }
}

.fullWidth,
.fullWidth > * {
    width: 100%;
}

.terms {
    margin-top: 8px;
    color: var(--text-muted);
    font-size: 0.75rem;
}
