.serverList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    height: 100%;
    padding: 0.625rem;
    background-color: #1e1f22;
}

.separator {
    width: 2rem;
    height: 0.125rem;
    background-color: #35363c;
}

.btn {
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    width: var(--avatar-size-normal);
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: background-color 0.3s, border-radius 0.3s;
    overflow: hidden;
    cursor: pointer;

    &.active,
    &:hover {
        border-radius: 0.75rem;
        background-color: var(--discord-color);
    }

    path {
        fill: var(--text-light-gray);
        transition: fill 0.3s;
    }

    &:hover path {
        fill: var(--text-white);
    }
}

.btn.discovery {
    position: fixed;
    bottom: 0.625rem;
    left: 0.625rem;
}
