.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
}

.artwork {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logoWithText {
    position: fixed;
    top: 48px;
    left: 48px;
}
