@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("@/assets/fonts/fonts.css");

:root {
    --avatar-size-normal: 3rem;

    --primary-color: #313338;
    --secondary-color: #2b2d31;
    --tertiary-color: #1e1f22;
    --quaternary-color: #232428;
    --discord-color: #5865f2;
    --discord-color-hover: #4752c4;
    --hover-color: #35373c;

    --header-primary: #f2f3f5;
    --header-secondary: #b5bac1;

    --text-dark-gray: #4e5058;
    --text-gray: #949ba4;
    --text-light-gray: #dbdee1;
    --text-white: #fff;
    --text-danger: #fa777b;
    --text-link: #00aafc;
    --text-muted: #90969f;

    --interactive-normal: #b5bac1;

    --font-primary: "gg sans", "Noto Sans", Arial, sans-serif;
    --font-code: "gg mono", "Source Code Pro", Consolas, "Lucida Console",
        "Lucida Sans Typewriter", Monaco, "Courier New", Courier, monospace;
    --font-headline: "ABC Ginto Nord", "Noto Sans", Arial, sans-serif;
    --font-clan-body: Fraunces, "gg sans", serif, "Noto Sans", Arial, sans-serif;
    --font-clan-signature: Corinthia, "gg sans", cursive, "Noto Sans", Arial,
        sans-serif;
    --font-display-marketing: "ABC Ginto Discord", "gg sans", serif, "Noto Sans",
        Arial, sans-serif;
    --font-display-marketing-header: "ABC Ginto Nord", "gg sans", serif,
        "Noto Sans", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-primary);
    color: var(--text-gray);
    font-weight: 500;
}

button,
input,
select {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;

    &:hover, &:disabled {
        background-color: var(--button-color-hover);
    }

    &:disabled {
        cursor: not-allowed;
    }
}

div > button {
    display: block;
}

input {
    outline: none;
}

img {
    pointer-events: none;
}

a {
    color: var(--text-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

#root {
    width: 100vw;
    height: 100vh;
}
